/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  /* Typography */
  --font-family: "Roboto Mono", monospace;
  /* Utils */
  --heading-vh: 7vh;
  --container-vh: 93vh;
}

/* Resets */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
blockquote,
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
pre,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}
button,
input,
textarea {
  border: 1px solid gray;
}
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}
button * {
  pointer-events: none;
}
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}
table {
  table-layout: fixed;
  width: 100%;
}
[hidden] {
  display: none;
}
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

/****************************************
 *    Base
 *****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

/* Headings */
h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/****************************************
 *    Components - Common
 *****************************************/
/* Header */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--heading-vh);
}

.logo {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

/* Main */
.container {
  display: flex;
  justify-content: space-between;
  height: var(--container-vh);
}

.menu:first-of-type {
  font-size: 12px;
  /* Contacto */
  padding: 1em;
  order: 1; /* Flex item order 1 */
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
}

.menu:last-of-type {
  font-size: 12px;
  /* Proyectos */
  padding: 1em;
  order: 3; /* Flex item order 3 */
  writing-mode: vertical-lr;
  text-align: center;
}

@media screen and (max-width: 40em) {
  /* Mobile */
  .container {
    position: relative;
  }

  .menu:first-of-type {
    /* Contacto */
    position: fixed;
    width: 40px;
    top: 45%;
    left: 0;
  }

  .menu:last-of-type {
    /* Proyectos */
    position: fixed;
    width: 40px;
    top: 45%;
    right: 0;
  }
}

.main {
  flex: 1; /* Toma todo el espacio disponible */
  order: 2; /* Flex item order 2 */
}

/****************************************
 *    Layouts
 *****************************************/
/* Home */
.home {
  color: var(--white);
  background: var(--black);
}

.home a {
  color: var(--white);
}

/* Proyectos */
.proyectos-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3em;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: 60px auto;
}

.proyectos-container > * {
  max-width: fit-content;
}

@media screen and (min-width: 40em) {
  .proyectos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    justify-items: center;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    align-items: center;
    padding: 3em 2em;
    max-width: 90vw;
    margin: 0 auto;
  }

  .proyectos-container a:nth-child(-n + 2) {
    /* Los primeros dos */
    max-width: 75%;
  }
}

/* Proyectos single */
.proyecto-container {
  max-width: 75%;
  margin: 0 auto;
}

.proyecto-container h2 {
  font-size: 16px;
  padding: 15px 0;
  font-style: italic;
}

.proyecto-container p {
  font-size: 14px;
}

.proyecto-container img {
  padding-top: 15px;
}

/* Copyright */
.copyright {
  font-size: 10px;
  text-align: center;
  padding-bottom: 15px;
}

@media screen and (min-width: 40em) {
  /* Desktop */
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
